.buttons-container{
    display: flex;
    flex-direction: column;
    height: 414px;
    align-items: center;
    background-color: #101010;
}

.ul-but-con{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin-top: 243px;
}

.tournaments-button{
    color: #D6FF00;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 88% */
    letter-spacing: -1.5px;
    border: 4px solid #D6FF00;
    margin-bottom: 20px;
    max-width: 387px;
    max-height: 84px;
    align-items: center;
}

.t{
    padding: 11px;
    text-align: center;
    margin: 0px;
    align-items: center;
    max-width: 378px;
}

.l{
    padding: 11px;
    text-align: center;
    margin: 0px;
    align-items: center;
    max-width: 237px;
}

.c{
    padding: 11px;
    text-align: center;
    margin: 0px;
    align-items: center;
    max-width: 237px;
}

.lessons-button{
    color: #D6FF00;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 88% */
    letter-spacing: -1.5px;
    border: 4px solid #D6FF00;
    margin-bottom: 20px;
    max-height: 84px;
    max-width: 279px;
    text-align: center;
}

.contacts-button{
    color: #D6FF00;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 88% */
    letter-spacing: -1.5px;
    border: 4px solid #D6FF00;
    margin-bottom: 20px;
    max-width: 279px;
    max-height: 84px;
    text-align: center;
}

.tournaments-button:hover{
    background-color: rgba(214, 255, 0, 0.60);
    color: #101010;
    font-weight: 600;
}
.lessons-button:hover{
    background-color: rgba(214, 255, 0, 0.60);
    color: #101010;
    font-weight: 600;
}
.contacts-button:hover{
    background-color: rgba(214, 255, 0, 0.60);
    color: #101010;
    font-weight: 600;
}